
.btn-primary {
	margin-top: 0px;
    padding: unset;
    font-size: 15px;
    background-color: #ff990000;
    border-color: #ff990000;
    color: #8a8a8a;
    font-style: italic;
  }
  
  
  .btn-primary:hover {
	background-color: #e68a0000;
	border-color: #e68a0000;
	color: rgb(41, 120, 205);

  }
  
 
  .btn-primary:active {
	background-color: #d17e00;
	border-color: #d17e00;

  }

  /* CreateCohort.css */

/* Custom styles for the submit button inside the modal */
.custom-submit-btn {
	background-color: #0000002c;
	border-color: #000000;
	color: #000000;
	padding: 5px;
	margin-top: 5px;
	/* Add any additional styles you want to customize the button */
  }
  
  /* Custom styles for the submit button inside the modal when it's being hovered */
  .custom-submit-btn:hover {
	background-color: #313131;
	border-color: #313131;
	color: rgb(189, 189, 189);
	/* Add any additional styles for the hover state */
  }
  
  /* Custom styles for the submit button inside the modal when it's active (clicked) */
  .custom-submit-btn:active {
	background-color: #d17e00;
	border-color: #d17e00;
	/* Add any additional styles for the active state */
  }

  /* CreateCohort.css */

/* CreateCohort.css */

/* CreateCohort.css */

/* Custom styles for the modal */
.modal-content {
	background-color: #292929;
	color: #ffffff;
	border: 1px solid #303030; /* Add a white border around the modal */
	border-radius: 6px; /* Add rounded corners for the modal */
  }
  
  /* Custom styles for the modal header */
  .modal-header {
	background-color: #292929;
	color: #dad9d9;
	border-bottom: none;
  }
  
  /* Custom styles for the modal body */
  .modal-body {
	background-color: #292929;
	color: #dad9d9;
  }
  
  /* Custom styles for the modal close button */
  .close {
	color: #ffffff;
	opacity: 0.8;
  }
  
  /* Custom styles for the modal close button on hover */
  .close:hover {
	opacity: 1;
  }
  
  /* Custom styles for the input fields in the modal */
  .modal-body input[type="text"],
  .modal-body input[type="date"] {
	background-color: #232323;
	border: 1px solid #4e4e4e;
	color:#dad9d9;
	
  }
  
 
  /* Custom styles for the labels in the modal */
  .modal-body label {
	color: #ffffff;
  }
  
  /* Custom styles for the submit button inside the modal */
  .custom-submit-btn {
	background-color: #00000000;
	border-color: #ebeae8;
	color: #ffffff;
  }
  
  /* Custom styles for the submit button inside the modal when it's being hovered */
  .custom-submit-btn:hover {
	background-color: #ebeae8;
	border-color: #e68a0000;
	color:#000000;
  }
  
  /* Custom styles for the submit button inside the modal when it's active (clicked) */
  .custom-submit-btn:active {
	background-color: #d17e00;
	border-color: #d17e00;
  }
  