/* Add the necessary styles for the modal */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: rgb(29, 46, 109);
	padding: 20px;
	max-width: 400px; /* Optional: Set a maximum width for the modal */
}

.submit-btn {
	background: #5e56c5;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10px;
}

.input-txt {
	color: black;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
