.App {
	margin: 0;
	background-color: #030303; /* Dark background color */
	color: #ffffff; /* Text color */
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.landing {
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.hero {
	margin-top: 2rem;
}

.title {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
	overflow: hidden;
	white-space: nowrap;
}

.title::after {
	content: "";
	display: inline-block;
	width: 0;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
	animation-fill-mode: forwards;
}

.title.typing::after {
	animation-name: typing;
}

.title.deleting::after {
	animation-name: deleting;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes deleting {
	from {
		width: 100%;
	}
}

.desc {
	font-weight: lighter;
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.mcsp {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #252525; /* Darker background color */
	width: 50rem;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* styles.css */

/* Style for the main menu */
.menu1 {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .menu1 > li {
	display: inline-block;
	position: relative;
  }
  
  .menu1 > li > a {
	display: flex;
	justify-content: center;
    width: 8rem;
	width: 8rem;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 5px;
	color: #333; /* Set your desired text color */
	background-color: #f0f0f0; /* Set your desired background color */
  }
  
  .menu1 > li > a:hover {
	background-color: #ddd; /* Set your desired background color for the hover state */
  }
  
  /* Style for the submenu */
  .menu1 ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	color: #636262;
	background-color: #ffffff; /* Set your desired background color for the submenu */
	padding: 10px;
	margin: 0;
	border-radius: ;
  }
  
  .menu1 li:hover ul {
	display: flex;
	justify-content: center;
  }
  
  .menu1 ul li {
	display: flex;
	justify-content: center;
  }
  
  .menu1 ul li .important {
	display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;  /* Set your desired text color for the submenu items */
  }
  
  .menu1 ul li .important:hover {
	background-color: #ddd; /* Set your desired background color for the hover state of submenu items */
	color: #fff !important;/* Set your desired background color for the hover state of submenu items */
  }
  

.get-started {
	font-size: 1.5rem;
	font-weight: bold;
	color: #e7e7e7; /* Blue color */
	margin-bottom: 1rem;
}

.mockup {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 2rem;
	max-width: 45%;
	height: auto;
	margin-left: 900px;
	margin-top: 125px;
}