.header {
    padding: 2rem;
    display: flex;    
    justify-content: space-between;
    
    
    }
    
    .nav-bar {
    width: 30%;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 36.5px;
    background: rgba(23, 23, 23, 0.50);
    }
    
    .nav-items {
        display: flex;
        justify-content: space-between;
    }
    .nav-item1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        border-radius: 31.5px;
        background: #D9D9D9;
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #000;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    
      .nav-item2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #cccccc;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    
    
      .nav-item3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #cccccc;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    
     