.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 999;
}

.logo {
  width: 200px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: linear-gradient(135deg, #DE7451 0%, #4e304d 100%);
    }
    
    .nav-bar {
    width: 30%;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 36.5px;
    background: rgba(23, 23, 23, 0.50);
    }
    
    .nav-items {
        display: flex;
        justify-content: space-between;
    }
    .nav-item1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      
    
      .nav-item2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #f1f0f0;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      
    
    
      .nav-item3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 3rem;
        flex-shrink: 0;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    
      .nav-item1.active,
      .nav-item2.active,
      .nav-item3.active {
        background-color: #ffffff;
        border-radius: 30px;
        color: #0a0a0a;
        height: 2.55rem;
        margin-top: 3.7px;
        margin-left: 3.7px;
        margin-right: 3.7px;
      }
      
      .nav-item1:hover,
      .nav-item2:hover,
      .nav-item3:hover {
        color: #c3c2c2;
      }


      
    /* Add CSS for the dropdown menu */
/* Updated Dropdown Styles */

/* Updated CSS with Smaller Dropdown Width */

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 80%;
  margin-top: 4px;
  
}

.classes {
  background-color: #00000073;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.classes:hover {
  border: 1px solid #bcbcbc;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: calc(100% + -189px);
  min-width: 150px; /* Set the minimum width for the dropdown menu */
  max-height: 200px;
  background-color: #2c2c2cfd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
  padding: 10px 0;
  overflow-y: auto;
}

.dropdown-menu.show {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


.dropdown-item {
  display: block;
  padding: 10px 43px;
  color: #bcbcbc;
  text-decoration: none;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #9b9b9b;
}


.add-student {
  background-color: #00000073;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.add-student:hover {
  border: 1px solid #bcbcbc;
}

.modal-body input[type="tel"],
  .modal-body input[type="email"],
  .modal-body input[type="url"],
  .modal-body textarea
   {
	background-color: #232323;
	border: 1px solid #4e4e4e;
	color:#dad9d9;
	
  }

  .custom-add-btn {
    background-color: #6c757d;
    color: #ffffff;
    margin-top: 2px;
    padding: 6px;
    width: 4.3rem;
    }
    
    /* Custom styles for the submit button inside the modal when it's being hovered */
    .custom-add-btn:hover {
      background-color: #5f676d;
      color: #ffffff;
      margin-top: 2px;
      padding: 6px;
      width: 4.3rem;
    }
    
    /* Custom styles for the submit button inside the modal when it's active (clicked) */
    .custom-add-btn:active {
    background-color: #d17e00;
    border-color: #d17e00;
    }
    