.students {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  margin-left: 22%;
  margin-top: 30px;
}

.student {
  padding: 20px;
  width: 20rem;
  height: 228px;
  color: rgb(161, 161, 161);
  border-radius: 20px;
  background: linear-gradient(135deg, #1d1d1d 0%, #272626 100%);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 0 0 rgb(59, 59, 59);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  transition: box-shadow 0.3s ease, height 0.3s ease;
  overflow: hidden; 
   
 }

 .student.expanded {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 30rem; 
  height: auto; 
  font-size: 1.3rem;
  box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.522);
}

.students.expanded::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
  z-index: 1;
}


.student:hover {
  box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.522);
}
.student-head {
  display: flex;
  max-width: fit-content;
  justify-content: space-between;
  font-size: 1rem;
}

.name {
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.35rem;
  color: white;
}

.student.expanded .name {
  font-size: 2rem;
}
.contact {
  font-weight: 400;
  font-size: 1.05rem;
  color: white;
}

.urls {
  color: white;
}

.student.expanded .contact {
  font-size: 1.5rem;
}

.status {
  background-color: rgba(184, 181, 181, 0.389);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: white;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgb(122, 122, 122);
  font-weight: 300;
  font-size: 0.7rem;
  height: 1.4rem;
  margin-right: 1rem;
}

.student.expanded .status {
  font-size: 1.2rem;
  height: 1.8rem;
}

.status p {
  margin-bottom: 0px;
}

.color-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fafcfa;
}

p {
  margin-bottom: 0rem;
}

.comment-btn {
  padding: 5px;
  border-radius: 10px;
  border: 1px white;
  color: white;
  
}


